.fondoDetail{
    height: 100%;
    width: 100%;
    background-image: url("../../imagenes/fondo\ home.jpg");

}
.detailContent{
    color: rgb(252, 252, 252);
    padding: 10px;
    background-color:transparent;
    display: inline-block;
    text-shadow: 3px 3px 10px rgb(24, 23, 23);
    box-shadow: 3px 3px 10px #a70efa;
}

.obj3Detail{
    color: rgb(120, 184, 67);
}
.obj2Detail{
    color: rgb(250, 255, 240);
}