
.cardContainer{
    width: auto;
    height: auto;
    border-radius: 10px;
    background-color: #12043a;
    text-decoration: none;
    color: aliceblue;
    
}
.infoContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
    color: white;
/*asas*/

}
.cardImg{
    border-radius: 10px;   
}
