.paginadoContainer{
    padding:5px ;
}
.ul{
    align-items: center;
    
}
.paginas{
    display: inline-block;
    margin-right: 5px;
    /* border-radius: 5px; */
}
.numeroPaginado{
    color: aliceblue;
    background-color: black;
    box-shadow: 3px 3px 10px #8944ae;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.btnPage{
    color: white;
    background-color: #ef0404;
    box-shadow: 3px 3px 10px #ffffff;
    font-size: 15px;
    border-radius: 15px;
    cursor: pointer;
}
.currentPage{
    font-size: 20px;
    background-color: transparent;
    box-shadow: 3px 3px 10px #595757;
}
.btnPage:hover{
    background-color:  aquamarine;
}
.numeroPaginado:hover{
    background-color: blueviolet;
  }
.numeroPaginado:active{
    fill: red;
}
