.paginadoContainer{
    background-color: rgb(75, 49, 99);

}
.ul{
    align-items: center;
    
}
.paginas{
    display: inline-block;
    margin-right: 5px;
    /* border-radius: 5px; */
}
.numeroPaginado{
    display: inline-block;
    border-radius: 3px;
}