.paginadoContainer{
    padding:5px ;
}
.ul{
    align-items: center;
    
}
.paginas{
    display: inline-block;
    margin-right: 5px;
    /* border-radius: 5px; */
}
.numeroPaginado{
    color: aliceblue;
    background-color: black;
    box-shadow: 3px 3px 10px #8944ae;
    font-size: 20px;
    border-radius: 5px;
}
.numeroPaginado:hover{
    background-color: blueviolet;
  }
