.cardsContainer{
    /* background-image: url("../../imagenes/fondo\ home.jpg"); */
    
    
}

.cardsBox{
    background-position: center;
    width: 80%;
    height: 80%;

}
.Card{
    
    padding: 20px;
    display: inline-block;
    align-items: center;
}
