.activityListContainer {
    display: flex;
    flex-direction: column;
   background-image: url("../../imagenes/fondo\ home.jpg");
    min-height:100%;
    width: 100%;
    position: absolute ;
    padding-bottom: 5rem;
    background-attachment: fixed;
    background-size: cover;
  }
  
  .activityCardListContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0 2rem 0;
  }
  
  .activityCardList {
    background-color: black;
    color: white;
    border: solid 1px white;
    display: block;
    width: 50%;
    height: 15rem;

  }
  .h2Activity{
    text-transform: uppercase;
    text-align: center;
    color: rgb(4, 57, 216);
  }
  .h3Activity{
    text-align: center;
  }
  .ActivityTitle{
    color: white;
    font-size: 40px;
  }